body
{
  background-color: #DDDDDD;
  color: #000000;
  font-family: "Lucida Grande", "Verdana", "Arial", "Helvetica", "sans-serif";
  font-size: 11px;
  margin: 10px auto 50px auto;
  text-align: center;
  width: 750px;
}

h1
{
  font-size: 250%;
  margin: auto;
  padding: 0px;
}

h2
{
  margin: auto;
  padding: 0px;
}

h3
{
  font-size: 175%;
  margin: 20px auto 10px auto;
  padding: 0px;
}

a, a:visited
{
  color: inherit;
  text-decoration: none;
}

.eloPoints, .eloChange, .attendance, .averageMatchesPlayed
{
  border: 1px solid #888888;
}
